* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    /* align-content: center; */
    gap: 10px;
    padding: 30px;
    background-color: #21293a;
    border-radius: 6px;
    width: 50%;
    margin: 50px auto;
}

.boxes {
    padding: 10%;
    color: #fff;
    cursor: pointer;
    text-align: center;
    border-radius: 6px;
    border: 2px solid white;
}

.hidden-content {
    display: none;
}

/* .hidden-content.reveal-btn {
    display: block;
}     */
